.user-input {
    border-radius: 5px;
}

.user-button {
    background-color: darkcyan;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.h1 {
    color: cyan;
}

body {
    background-color: blue;
}

#wrapper {
    width: 300px; margin: 0 auto;
}
